<%= form_with(model: branch) do |form| %>
  <%= render 'shared/errors', model: branch, model_name: 'branch' %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :opening_time, class: "form-label" %>
    <%= form.time_field :opening_time, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :closing_time, class: "form-label" %>
    <%= form.time_field :closing_time, class: "form-control" %>
  </div>
  <div class="mb-3 form-check">
    <%= form.label :default, class: "form-check-label" %>
    <%= form.check_box :default,  class: "form-check-input" %>
  </div>
  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>