<%= render 'shared/notice' %>
<div class="container mt-4">
  <div class="border p-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1><%= link_to "Branches", branches_path, class: "text-decoration-none"%> / <%= @branch.name %> / Meals</h1>
      <%= link_to "Add meal", add_meal_branch_path(@branch), class: "btn btn-primary btn-sm" %>
    </div>
    <% if @branch_meals.blank? %>
      <div class="alert alert-dark mx-5" role="alert">
        <strong>No meals present for this branch.</strong>
      </div>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Veg/Non-veg</th>
            <th>Desciption</th>
            <th>Available</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'branch_meal', collection: @branch_meals, locals: {branch: @branch} %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
