<%= form_with(model: [branch, inventory]) do |form| %>
  <%= render 'shared/errors', model: inventory, model_name: 'inventory' %>
  <div class="mb-3">
    <%= form.label :ingredient_id, 'Ingredient', class: "form-label" %>
    <%= form.collection_select :ingredient_id, Ingredient.all, :id, :name, {prompt: "Select one"}, {class: "form-select", disabled: ['edit', 'update'].include?(action_name) ? true : false }%>
  </div>
  <div class="mb-3">
    <%= form.label :quantity, class: "form-label" %>
    <%= form.number_field :quantity, class: "form-control", data: { original_quantity: inventory.quantity_was } %>
  </div>
  <% if ['edit', 'update'].include? action_name %>
    <%= form.fields_for :inventory_logs, inventory.inventory_logs.build do |comment| %>
      <div id="comment_field", class="mb-3", style="display: none;">
        <%= comment.label :comment, class: "comment-label" %>
        <%= comment.text_field :comment, class: "form-control" %>
      </div>
      <%= comment.hidden_field :user_id, value: @current_user.id %>
    <% end %>
  <% end %>
  <%= form.hidden_field :branch_id, value: @branch.id %>
  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
