<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Reset Password</p>
<%= form_with(model: @user, url: forgot_password_path) do |form| %>
  <%= render 'shared/errors', model: @user, model_name: 'user' %>
  <div class="mb-3">
    <%= form.label :password, "Enter new password", class:"form-label" %>
    <%= form.password_field :password, class:"form-control"%>
  </div>
  <div class="mb-3">
    <%= form.check_box :show_password, onchange: "showPassword()", class: "form-check-input me-2" %>
    <%= form.label :show_password, 'Show password', class: 'form-check-label' %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation, "Re-enter new password", class:"form-label" %>
    <%= form.password_field :password_confirmation, class:"form-control"%>
  </div>
  <%= form.hidden_field :id, value: @user.id %>
  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <%= form.submit "Change Password", class:"btn btn-primary btn-lg" %>
  </div>
<% end %>
