<div class="d-flex justify-content-between align-items-center py-3">
  <h2 class="h5 mb-0"><a href="#" class="text-muted"></a>Order <%= order.id %></h2>
</div>
<div class="card mb-4">
  <div class="card-body">
    <div class="mb-3 d-flex justify-content-between">
      <div>
        <span class="me-3"><%= order.placed_on&.strftime('%m-%d-%Y') %></span>
        <span class="me-3"><%= order.id %></span>
        <span class="badge rounded-pill <%= order_status_bg(order) %>"><%= order.status.capitalize %></span>
      </div>
      <div class="d-flex">
        <%= button_to 'Cancel', order_cancel_order_path(order), method: :post, class: 'btn btn-danger btn-sm mx-2', data: { confirm: 'Are you sure you want to delete this order?'} if order.cancellable? %>
        <% if action_name != 'show' %>
          <%= link_to 'Order Details', order_path(order), class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
    </div>
    <table class="table table-borderless">
      <tbody>
        <%= render partial: 'order_line_item', collection: order.line_items %>
      </tbody>
      <tfoot>
        <tr class="fw-bold">
          <td colspan="2">TOTAL</td>
          <td class="text-end">Rs. <%= order.total %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
