<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <%= render 'shared/notice' %>
                <%= render 'shared/errors', model: @cart, model_name: 'order' %>
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted"><%= pluralize(@cart.total_items, "item") %></h6>
                  </div>
                  <% if @line_items.blank? %>
                    <div class="alert alert-dark mx-5" role="alert">
                      <strong>Cart is empty.</strong>
                    </div>
                  <% else %>
                    <%= render partial: 'cart_line_item', collection: @line_items %>
                    <hr class="my-4">
                  <% end %>
                  <div class="pt-5">
                    <h6 class="mb-0">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <%= link_to menu_path, class:"text-body" do %>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                          </svg>Back to shop
                        <% end %>
                        <% if @line_items.present? %>
                          <%= button_to 'Empty Cart', empty_cart_path, method: :delete, class: "btn btn-danger btn-block btn-sm" %>
                        <% end%>
                      </div>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" style="background-color: #b3b3b3;" >
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">
                  <%= form_with model: @cart, url: checkout_path do |form|%>
                    <h5 class="text-uppercase mb-3"><%= form.label :pickup_time %></h5>
                    <div class="mb-4 pb-2">
                      <%= form.select :pickup_time, options_for_select(pickup_time_options(@cart.branch_id)), {}, class: 'form-select form-select-lg' %>
                    </div>
                    <h5 class="text-uppercase mb-3"><%= form.label :contact_number %></h5>
                    <div class="mb-5">
                      <%= form.number_field :contact_number, class: 'form-control form-control-lg', in: 1_000_000_000..9_999_999_999 %>
                    </div>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>Rs. <%= @cart.total %></h5>
                    </div>
                    <% if @line_items.present? %>
                      <%= form.submit 'Proceed to Payment', class: "btn btn-dark btn-block btn-lg", onclick: "validateContactNumber()"%>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
