<tr class="<%= order_tr_class(order) %>">
  <td><%= order.id %></td>
  <td><%= order.user.first_name %></td>
  <td colspan=2>
    <table class="table table-borderless table-hover table-sm mb-0">
      <tbody>
        <%= render partial: 'line_item', collection: order.line_items, locals: {branch_url_slug: branch_url_slug} %>
      </tbody>
    </table>
  </td>
  <td>Rs. <%= order.total %></td>
  <td><%= order.placed_on&.strftime('%D') %></td>
  <td><%= order.pickup_time&.strftime('%I:%M %p') %></td>
  <td><%= order.picked_up_at&.strftime('%I:%M %p') %></td>
  <td><%= order.status %></td>
  <td>
    <div class= "d-flex">
      <%= link_to 'Mark as Ready', mark_ready_order_path(order, branch_url_slug: branch_url_slug), method: :post, class: 'btn btn-primary btn-sm me-2' if order.received? %>
      <%= link_to 'Mark as Picked Up', mark_picked_up_order_path(order, branch_url_slug: branch_url_slug), method: :post, class: 'btn btn-success btn-sm me-2' if order.ready? %>
    </div>
  </td>
  <td>
      <%= link_to 'Cancel Order', mark_cancel_order_path(order), method: :post, class: 'btn btn-danger btn-sm me-2', data: { confirm: 'Are you sure you want to cancel this order?' } if !order.cart? && order.cancellable? %>
  </td>
</tr>
