<!DOCTYPE html>
<html>
  <head>
    <title>Champs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'show_password' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <% if controller_name == 'registrations' %>
      <%= render 'layouts/login' %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
